.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #09d3ac;
}

.box{
  
}


.message {
  color: #4267b2;
  font-family: sans-serif;
  text-align: left;
  margin: 1px;
  background-color: lightGray;
  min-height: 70px;
  border-radius: 12px;
  padding: 5px;
  overflow: hidden;
  white-space: pre-line;
  display: block;

}


.container {
  display: flex;
  flex-direction: column;
  width: 70%;
  margin: 0 15% 3% ;
  overflow-y:scroll;
  
  max-height: 350px ;
}



.butt {
  border-radius: 12px;
   border: 1px outset lighter blue;
   background-color: lightBlue;
   height:50px;
   width:50px;
   cursor:pointer;
   margin: 0 1%;
}

.butt:hover {
   background-color: lightBlue;
   color:white;
}

.textbox{
  height:50px;
  width: 50%;
  font-size:14pt;
}